@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap");

* {
  font-family: "Baloo 2", sans-serif;
  list-style: none;
}

:root {
  --primary-color: #fd7436;
  --primary-shadow-color: rgba(253, 116, 54, 0.08);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e85a1a;
}

/* ! Hero Section Start */
header {
  background-color: var(--primary-color);
}

.hero-section {
  background-color: var(--primary-color);
}

.hero-heading {
  font-size: 62px;
}

.hero-section p {
  font-size: 24px;
}

.curve {
  padding-top: 10px;
}

/* ? Shape Divider Start */

.custom-shape-divider-bottom-1726298099 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  background-color: transparent;
  line-height: 0;
}

.custom-shape-divider-bottom-1726298686 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 132px;
}

.custom-shape-divider-bottom-1726298686 .shape-fill {
  fill: #ffffff;
}

/* ? Shape Divider End */

/* ! Hero Section End */
/* ! Calming Presence Section Start */
.rightLeaf {
  top: -5%;
  left: 0%;
}

.calmingPresence {
  color: var(--primary-color);
}

.calming_card {
  border-radius: 40px;
  border: 1px dashed var(--primary-color);
  background-color: var(--primary-shadow-color);
}

.calming_card h4 {
  font-size: 30px;
  color: var(--primary-color);
}

.calming_card p,
.workCard p,
.clientCard span,
.whyChooseCard p {
  font-size: 20px;
}

/* ! Calming Presence Section End */

/* ! Features Overview Section Start */
.feature_content {
  top: 50%;
  left: 0;
  transform: translate(0%, -50%);
}

.feature_content h3 {
  font-size: 54px;
}

.feature_content .numbering {
  font-size: 74px;
  color: rgba(255, 255, 255, 0.4);
}

.feature_content h4 {
  font-size: 32px;
}

.feature_content p {
  font-size: 20px;
}

.feature_content .featureCard {
  border-radius: 40px;
  border: 1px dashed var(--primary-color);
}

.featureCard h5 {
  font-size: 30px;
  color: var(--primary-color);
}

/* ! Features Overview Section End */
/* ! Daily Motivational Messages Section Start */
.motivationMockup {
  right: -1.6%;
}

.numbering2 {
  font-size: 74px;
  color: rgba(0, 0, 0, 0.4);
}

.feature_content-2 h4 {
  color: var(--primary-color);
}

/* ! Daily Motivational Messages Section End */
/* ! How Zenvi Works Section Start */
.howItWorks h3 {
  font-size: 94px;
}

.howItWorks h3 span {
  color: var(--primary-color);
}

.howWorkDiv {
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.workCard {
  border-radius: 40px;
  border: 3px dashed rgba(255, 255, 255, 0.2);
  background-color: rgba(0, 0, 0, 0.64);
  backdrop-filter: blur(3px);
}

.workCard h4 {
  font-size: 26px;
}
#zenviWorks .owl-prev {
  visibility: hidden;
}
#zenviWorks .owl-dots .owl-dot.active span {
  background-color: var(--primary-color);
}
/* ! How Zenvi Works Section End */
/* ! Testimonial Section Start */
.rightLeaf2 {
  top: 10%;
}

.testimonialHeading h3 {
  font-size: 62px;
}

.testimonialHeading h3 span {
  color: var(--primary-color);
}

.testimonialHeading p {
  font-size: 18px;
}

.clientCard {
  border-radius: 40px;
  border: 1px dashed var(--primary-color);
  background-color: rgba(253, 116, 54, 0.08);
  padding-bottom: 98px;
  padding-top: 60px;
}

.clientCard .clientInfo {
  left: 50%;
  top: 80%;
  transform: translate(-50%);
}

.clientCard p {
  font-size: 18px;
}

.clientCard h5 {
  font-size: 32px;
}

.clientCard .quote {
  top: -15%;
  left: 10%;
}

/* ! Testimonial Section End */

/* ! Why Choose Section Start */
.whyChooseCard {
  background-color: var(--primary-color);
  border-radius: 40px;
}

.whyChooseCard h4 {
  font-size: 26px;
}

.whyLeaf {
  top: 10%;
}
#whyChooseSlider .owl-prev {
  display: none !important;
}
#whyChooseSlider .owl-dots .owl-dot.active span {
  background-color: var(--primary-color);
}

/* ! Why Choose Section End */
/* ! Subscription Plans Section Start */
.numbering3 {
  font-size: 36px;
}

.subscription_Plans h4 {
  font-size: 70px;
}

/* ! Subscription Plans Section End */
/* ! Take Control Section Start */
.takeControl {
  background-color: var(--primary-color);
  border-radius: 60px;
}

.takeControl h3 {
  font-size: 48px;
}

.takeControl p {
  font-size: 24px;
}

.takeControl .takeControl-items1 {
  flex-basis: 70%;
}

.takeControl .takeControl-items2 {
  flex-basis: 30%;
}
.takeControlImg {
  position: absolute;
  bottom: 0;
}
/* ! Take Control Section End */
/* ! FAQs Section Start */
.owl-nav.disabled {
  display: block !important;
  /* Force display regardless of the disabled class */
}

.owl-next {
  visibility: hidden;
}

#faqSlider .owl-prev {
  display: block !important;
}

#faqSlider .owl-prev {
  position: absolute;
  z-index: 99999;
  opacity: 0;
  font-size: 50px;
  width: 70px;
  border-radius: 25px;
  border: 1px solid red;
  background-color: var(--primary-color);
  box-shadow: 0px 4px 10px rgba(253, 116, 54, 0.3);
  top: 50%;
  left: -1%;
  transform: translate(-50%, -50%);
}

#faqSlider .owl-dots .owl-dot.active span {
  background-color: var(--primary-color);
}

.faqCard h5 {
  font-size: 26px;
}

.faqCard {
  width: 100%;
  height: 100%;
}

.leftArrowBtn {
  border-radius: 25px;
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  box-shadow: 0px 4px 10px rgba(253, 116, 54, 0.3);
  top: 50%;
  left: 0%;
  transform: translate(-50%, -50%);
}

/* ! FAQs Section End */
/* ! Footer Section Start */
.footer1 {
  background-color: var(--primary-color);
}

.footer1 .TandC {
  font-weight: 500;
  font-size: 24px;
}

.footer2 h5 {
  font-size: 30px;
}

/* ! Footer Section End */